.corpo-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    color: var(--corAuxiliar2);
}

form.form-login,
form.form-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1.titulo-entrar,
h1.titulo-registrar {
    margin-top: 1vh;
    margin-bottom: 7vh;
    color: var(--corAuxiliar2);
    background-color: var(--corSecundaria);
    align-self: flex-start;
}


fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 6rem 2rem 6rem;
    background-color: var(--corSecundaria);
    border: .10em solid var(--corAuxiliar1);
    border-radius: 10px;
}

.input-text {
    position: relative;
    padding-top: 3vh;
    margin-bottom: 3vh;
    background-color: var(--corSecundaria);
}

.input-text input {
    border: 0;
    border-bottom: 1px solid rgb(78, 78, 78);
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    background: none;
    color: var(--corAuxiliar2);
}

.input-text input:focus {
    border-bottom: 1px solid var(--corAuxiliar1);
}

.input-text input::placeholder {
    color: transparent;
}

.input-text label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    background-color: var(--corSecundaria);
    align-self: flex-start;
}

.input-text input:required:invalid+label:before {
    content: '*';
    font-size: 12px;
    color: red;
    position: absolute;
    left: -10px;
    top: 0;
}

.input-text input:focus+label,
.input-text input:not(:placeholder-shown)+label {
    font-size: 13px;
    margin-top: 0;
    color: var(--corAuxiliar1);
}

.input-check {
    display: flex;
    flex-direction: row;
    align-self: flex-star;
    background-color: var(--corSecundaria);
    margin-bottom: 4vh;
}

.input-check > input {
    display: flex;
    flex-direction: row;
    margin-right: .4vw;
}

.input-check > label {
    background-color: var(--corSecundaria);
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: var(--corSecundaria);
    align-self: center;
}

.buttons a {
    display: flex;
    background-color: var(--corSecundaria);
    border: .10em solid var(--corAuxiliar1);
    border-radius: 300px;
    padding: .40rem 1.2rem;
    color: var(--corAuxiliar2);
}

.buttons a:hover {
    background-color: var(--corAuxiliar5);
}

.outros-links {
    display: flex;
    flex: column;
    align-self: center;
}

.esqueceu-senha {
    color: var(--corAuxiliar2);
    font-size: .8em;
}