* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:active{
    text-decoration: none;
}

.my-10 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.my-15 {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.my-20 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.my-25 {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.my-30 {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.mx-10 {
    margin-left: 1vh;
    margin-right: 1vh;
}

.mx-15 {
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}

.mx-20 {
    margin-left: 2vh;
    margin-right: 2vh;
}

.mx-25 {
    margin-left: 2.5vh;
    margin-right: 2.5vh;
}

.mx-30 {
    margin-left: 3vh;
    margin-right: 3vh;
}

.mt-10 {
    margin-top: 1vh;
}

.mt-15 {
    margin-top: 1.5vh;
}

.mt-20 {
    margin-top: 2vh;
}

.mt-25 {
    margin-top: 2.5vh;
}

.mt-30 {
    margin-top: 3vh;
}

.mb-10 {
    margin-bottom: 1vh;
}

.mb-15 {
    margin-bottom: 1.5vh;
}

.mb-20 {
    margin-bottom: 2vh;
}

.mb-25 {
    margin-bottom: 2.5vh;
}

.mb-30 {
    margin-bottom: 3vh;
}