* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--corPrimaria);
    font-family: 'Roboto', sans-serif;
}

a:visited, a:active{
    text-decoration: none;
    color: var(--corBranca);
}