/* https://coolors.co/18181f-058fee-dcfffd-688b58-5c6f68 */
:root{
    --corPreto: #000;
    --corBranca: #fff;
    --corPrimaria: #171A21;
    --corSecundaria: #1B2838;
    --corAuxiliar1: #058FEE;
    --corAuxiliar2: #688b58;
    --corAuxiliar3: #5c6f68;
    --corAuxiliar4: #1b28384f;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--corPrimaria);
    grid-template: 
    "N N" 
    "M M" 
    "F F";
}

/* PARTE DO CABEÇALHO */

.cabecalho {
    grid-area: "N";
    background-color: var(--corSecundaria);
    height: 20vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.link-logo {
    display: inline;
}

.img-logo {
    width: 100%;
    height: 20vh;
}

ul.menu {
    display: inline;
    margin-left: 3vw;
    list-style-type: none;
    justify-content: space-between;
}

ul.menu li {
    display: inline;
    color: var(--corPrimaria);
    justify-content: space-between;
    padding-right: 2vw;
}

ul.menu li a.btn-menu {
    text-decoration: none;
    height: 20vh;
    display: inline-block;
}

ul.menu li a.btn-menu:after {
    transition: all ease-in-out .2s; 
    background: none repeat scroll 0 0 var(--corAuxiliar1);
    margin-top: 8vh;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

ul.menu li a.btn-menu:before {
    transition: all ease-in-out .2s; 
    background: none repeat scroll 0 0 var(--corAuxiliar1);
    margin-bottom: 8vh;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

ul.menu li a.btn-menu:hover:after {
    width: 100%;
}

ul.menu li a.btn-menu:hover:before {
    width: 100%;
}

ul.menu li a.btn-login {
    text-decoration: none;
    background-color: var(--corAuxiliar1);
    color: var(--corPrimaria);
    padding: 2vw; 
    border: .05rem solid var(--corBranca);
    border-radius: 30%;   
}

ul.menu li a.btn-registro {
    text-decoration: none;
    background-color: var(--corAuxiliar1);
    color: var(--corPrimaria);
    padding: 2vw; 
    border: .05rem solid var(--corBranca);
    border-radius: 30%;   
}

/* PARTE DO CORPO */

.corpo {
    grid-area: "M";
    background-color: var(--corPrimaria);
    height: 70vh;
}

/* PARTE DO RODAPÉ */

.rodape {
    grid-area: "F";
    background-color: var(--corAuxiliar4);
    height: 10vh;
}

footer p {
    text-align: center;
    color: var(--corBranca);
    padding-top: 3.5vh;
  }