:root {
    /* Primary colors */
    --corPreto: #000;
    --corBranca: #fff;
    --corPrimaria: #171A21;
    --corSecundaria: #1B2838;

    /* Auxiliar colors */
    --corAuxiliar1: #058FEE;
    --corAuxiliar2: #D8D5DB;
    --corAuxiliar3: #5c6f68;
    --corAuxiliar4: #EAE8FF;
    --corAuxiliar7: #9c4848;

    /* Transparency colors */
    --corAuxiliar5: #2c3f579a;
    --corAuxiliar6: #058FEE9a;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--corPrimaria);
    grid-template:
        "N N"
        "M M"
        "F F";
}

/* PARTE DO CABEÇALHO */

.cabecalho {
    grid-area: "N";
    background-color: var(--corSecundaria);
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.link-logo {
    display: inline-block;
    background-color: var(--corSecundaria);
}

.img-logo {
    width: 100%;
    height: 19vh;
    background-color: var(--corSecundaria);
}

ul.menu {
    display: inline;
    width: 100%;
    height: 20vh;
    margin-left: 3vw;
    list-style-type: none;
    justify-content: space-between;
    background-color: var(--corSecundaria);
}

ul.menu li {
    display: inline;
    width: 100%;
    justify-content: space-between;
    padding-right: 2vw;
    background-color: var(--corSecundaria);
    color: var(--corAuxiliar2);
}

ul.menu li a.btn-menu {
    text-decoration: none;
    display: inline-block;
    height: 20vh;
    display: inline-block;
    background-color: var(--corSecundaria);
    color: var(--corAuxiliar2);
}

ul.menu li a.btn-menu:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 var(--corAuxiliar1);
    margin-top: 8vh;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

ul.menu li a.btn-menu:before {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 var(--corAuxiliar1);
    margin-bottom: 8vh;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

ul.menu li a.btn-menu:hover:after {
    width: 100%;
}

ul.menu li a.btn-menu:hover:before {
    width: 100%;
}

ul.menu li a.btn-menu:hover {
    color: var(--corAuxiliar2);
}

ul.menu li a.btn-login {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--corAuxiliar4);
    background-color: var(--corSecundaria);
    padding: .65em 1em;
    border: .05em solid var(--corAuxiliar1);
    border-radius: 100px;
    margin-left: 45vw;
}

ul.menu li a.btn-login:hover {
    background-color: var(--corAuxiliar5);
}

ul.menu li a.btn-registro {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--corAuxiliar1);
    color: var(--corAuxiliar4);
    padding: .65em 1em;
    border: .05em solid var(--corAuxiliar1);
    border-radius: 100px;
}

ul.menu li a.btn-registro:hover {
    background-color: var(--corAuxiliar6);
}

/* PARTE DO CORPO */

.corpo {
    grid-area: "M";
    min-height: 70vh;
    width: 100%;
    color: var(--corAuxiliar2);
    margin: 5vh auto;
}

.titulo-melhor {
    margin-top: 5vh;
    text-align: center;
    font-size: 3em;
    font-variant: small-caps;
    color: var(--corAuxiliar2);
    word-spacing: .15em;
}

.titulo-melhor span {
    color: var(--corAuxiliar1);
}

.subtitulo-melhor {
    text-align: center;
    font-size: .8em;
    margin-top: 2vh;
}

.about-index {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.grupos {
    margin-top: 5vh;
    margin-left: 3vw;
    width: 40vw;
    text-align: justify;
}

.compartilhamento {
    margin-top: 5vh;
    margin-left: 55vw;
    width: 40vw;
    text-align: justify;
}

.exportar {
    margin-top: 5vh;
    margin-left: 3vw;
    width: 40vw;
    text-align: justify;
}

.corpo div h3 {
    color: var(--corAuxiliar1);
    font-size: 1.5em;
    word-spacing: .10em;
    font-variant: small-caps;
}

.corpo div p {
    margin-top: 2vh;
    font-size: 1em;
    word-spacing: .15em;
    letter-spacing: .10em;
}

/* PARTE DO RODAPÉ */

.rodape {
    display: grid;
    grid-area: "F";
    left: 0;
    bottom: 0;
    background-color: var(--corSecundaria);
    height: 10vh;
    width: 100%;
    align-items: center;
}

.rodape-texto {
    text-align: center;
    font-size: 1em;
    margin: auto;
    width: 100%;
    color: var(--corAuxiliar2);
}